<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.warehouse.warehouse.dao.EmployeeDao">

    <!--登入操作-->
    <select id="selectEmployeeByUsernamePasswordType" resultType="com.ecut.warehouse.warehouse.entity.Employee">
        SELECT   id,employee_name,password,telephone,addr,status
        FROM tbl_employee
        where employee_name=#{employeeName} and password=#{password} and status=#{status}
    </select>


    <!--根据id查询操作-->
    <select id="getEmployeeById" resultType="com.ecut.warehouse.warehouse.entity.Employee">
        SELECT   id,employee_name,password,telephone,addr,status
        FROM tbl_employee
        where id=#{id} and status != 9999
    </select>

    <!--查询所有的职工操作-->
    <select id="getEmployees" resultType="com.ecut.warehouse.warehouse.entity.Employee">
        SELECT   id,employee_name,password,telephone,addr,status
        FROM tbl_employee
        where status != 9999
    </select>

    <!--更新操作-->
    <update id="updateEmployee" parameterType="com.ecut.warehouse.warehouse.entity.Employee">
        UPDATE tbl_employee
        <set>
            <if test="employeeName!=null and employeeName != ''">employee_name=#{employeeName},</if>
            <if test="telephone!=null and telephone != ''">telephone=#{telephone},</if>
            <if test="addr!=null and addr != ''">addr=#{addr},</if>
            <if test="status!=null and status != ''">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>


    <!--增加操作-->
    <insert id="addEmployee" keyProperty="id" keyColumn="id" parameterType="com.ecut.warehouse.warehouse.entity.Employee">
        insert tbl_employee(id,employee_name,password,telephone,addr,status)
         VALUES
        (#{id}, #{employeeName},#{password}, #{telephone}, #{addr},#{status})
    </insert>
</mapper>